//site color variables
$body-color: #F7F9FF;
$primary-color: #862718;
$secondary-color: #DE5A20;
$text-color: #1d1e1f;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;
$bege: #EDE9E0;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Lato', sans-serif;
